[defaults]
stdout_callback = yaml
bin_ansible_callbacks = true
roles_path = roles
retry_files_enabled = false
nocows = true
force_color = true
interpreter_python = auto_silent
display_skipped_hosts = false

[ssh_connection]
pipelining = true
